body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px;
    
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #77aaff;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    text-decoration: underline;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

section#about {
    background: #e4e4e4;
    padding: 40px 0;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-content img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

section#projects {
    background: #ffffff;
}

.project {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.project img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

section#contact {
    background: #e4e4e4;
    padding: 40px 0;
}

section h2 {
    color: #333;
    text-align: center;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
